<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <h1>Hello world</h1>
    <p>This is a simple EJS template.</p>
    <p>12 + 4 =  <%= 12 + 4 %> </p>

    <script src="/javascripts/home.js"></script>

</body>
</html>